@model BlogWebsite.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.EditorForModel()
        </div>

        <div>
            <button type="submit">Login</button>
        </div>

        <div>
            @Html.ActionLink("Register", "Register")
        </div>
    }
</div>>
