@model BlogWebsite.Models.RegisterModel


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.EditorForModel()
        </div>

        <div>
            <button type="submit">Register</button>
        </div>

        
    }
</div>>

